<!-- Agile y Lean -->

<div class='full white'>
    <div class='row'>
        <div class='large-6 columns'>
        <img class='fadeinleft' src='{{site.url}}/images/patrick-perkins-350622-unsplash.jpg'>
        </div>
        <div class='large-6 columns'>
        <h2 class='blue-text-2'>Agile y Lean</h2>
        <blockquote><i>Puedes hacer Scrum hasta que estés azul, pero si estás 
            luchando contra tu código para hacer pequeños cambios, 
            la agilidad es imposible.</i> --Allen Holub, @allenholub</blockquote>
        <p>Utilizamos las mejores técnicas de programación para 
            mantener una arquitectura y código limpios que garantizan un desarrollo productivo, 
            eficaz y sin desperdicios.
        </p>
        <a class='button boxed-dark'>Sepa más</a>
        </div>
    </div>
</div>
    