<div class='full white'>
    <div class='row'>
        <div class='large-6 columns'>
        <img class='fadeinleft' src='{{site.url}}/images/architecture-blur-building-728486.jpg'>
        </div>
        <div class='large-6 columns'>
        <h2 class='blue-text-2'>Consultoría Jurídica</h2>
        <p>
            En todos nuestros proyectos aplicamos un triple enfoque <i>"técnico, legal y organizativo"</i>,
            para dar la mejor solución a nuestros clientes. 
            <br>
            Con un área jurídica especializada,
            AvanTIC completa su cartera de servicios para escenarios complejos como 
            Contratación Publica, Administración Electrónica y e-Contratos, entre otros.
        </p>
        <a class='button boxed-dark'>Sepa más</a>
        </div>
    </div>
</div>
      