<!-- El Equipo -->

<div class='full white'>
    <div class='row'>
        <div class='large-6 columns'>
        <img class='fadeinleft' src='{{site.url}}/images/perry-grone-732606-unsplash.jpg'>
        </div>
        <div class='large-6 columns'>
        <h2 class='blue-text-2'>Nuestro equipo</h2>
        <p>Con un amplio equipo profesional, en que prima el talento y la diversidad, podemos llevar a cabo los proyectos más complejos, innovadores y desafiantes con total confianza.
        </p><p>
        Compartimos una cultura y una visión de cómo hacer las cosas, pero dejado espacio para la creatividad y la responsabilidad de cada individuo para conseguir los objetivos del grupo.
        </p>
        </div>
    </div>
</div>

      
