<div class='full'>
    <div class='row'>
        <div class='large-6 columns'>
        <h2 class='blue-text-2'>Expertos en Java de Servidor</h2>
        <p>
            En AvanTIC somos expertos en tecnologías web Java <i>Server Side</i>. Desarrollamos
            aplicaciones corportativas y para administración pública, en el
            ámbito tributario, clínico, jurídico y de la tramitación electrónica.
        </p>
        <a class='button boxed-dark'>Sepa más</a>
        </div>
        <div class='large-6 columns'>
        <img class='fadeinright' src='{{site.url}}/images/mike-kenneally-80402-unsplash.jpg'>
        </div>
    </div>
</div>
      