  <div class='full white centered-text'>
    <div class='row'>
      <div class='special-title centered-text'>
        <h2>Valores</h2>
        <p>que nos mueven y nos definen</p>
      </div>
      <div class='spacing'></div>
      <div class="large-4 columns">
        <div class="principle">
          <i class="icon-star blue-text-2" style='font-size: 200%'></i>
          <h4>Entregamos Valor</h4>
          <p>Apliamos una filosofía <i>ágil</i> y <i>lean</i> para entregar valor de forma continuada a nuestros clientes evitando el desperdicio.</p>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="principle"> 
          <i class="icon-heart blue-text-2" style='font-size: 200%' ></i>
          <h4>Nos Implicamos</h4>
          <p>Nos encanta la sensación de lograr los objetivos del cliente y la satisfacción del trabajo bien hecho.</p>
        </div>
      </div>  
      <div class="large-4 columns">
        <div class="principle">
          <i class="icon-compass blue-text-2" style='font-size: 200%'></i>
          <h4>Aprendemos para Innovar</h4>
          <p>La experiencia no es suficiente: sólo la formación continuada nos permiten alcanzar objetivos excepcionales.</p>
        </div>
      </div>
    </div>
  </div>
